@import "../colors.module.scss";

@mixin button {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 16px;
  padding: 18px 70px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
}

@mixin orange {
  @include button();
  color: $WHITE;
  background-color: $BUTTON_ORANGE;

  &:hover {
    background-color: $HOVER_ORANGE;
  }
}

@mixin darkBlue {
  @include button();
  color: $DARK_BLUE;
  border: $DARK_BLUE 2px solid;
  background-color: white;
  transition: 0.3s;

  &:hover {
    background-color: $DARK_BLUE;
    color: $WHITE;
  }
}

.orange {
  @include orange();
}

.darkBlue {
  @include darkBlue();
}